<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage"
                           uri="datacollector://Microsoft/CodeCoverage/2.0"
                           assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
                <Configuration>
                    <CodeCoverage>
                        <ModulePaths>
                            <Exclude>
                                <!-- Exclude test projects -->
                                <ModulePath>.*Tests.dll</ModulePath>
                            </Exclude>
                        </ModulePaths>
                        <Sources>
                            <Exclude>
                                <!-- Exclude the NoParameter class, which only has a private constructor -->
                                <Source>.*\\NoParameter\.cs</Source>
                            </Exclude>
                        </Sources>
                        <Functions>
                            <Exclude>
                                <!-- Exclude nonsensical non-coverage of AsyncCommand(<T>).Execute(object),
                                     probably a bug in VS' test coverage analysis -->
                                <Function>.*AsyncCommand.&lt;System.Windows\.Input\.ICommand\.Execute&gt;d__0.*</Function>
                                <Function>.*AsyncCommand.&lt;System.Windows\.Input\.ICommand\.Execute&gt;d__0&lt;T&gt;.*</Function>
                            </Exclude>
                        </Functions>
                    </CodeCoverage>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>